/* Ignore, i might separate this from styles.css */

/*
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.error-container h1 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 0 10px #00aaff;
}

.error-container p {
    font-size: 1.2rem;
    color: #aaa;
    margin-top: 10px;
} */